{##
# Add request for quote
#}

<div class="modify-request_for_quote-dialog">
    {% form '\\XLite\\Module\\Esalnikov\\RequestForQuote\\View\\Form\\RequestForQuote\\Customer\\RequestForQuote' %}
        <div class="model-properties">
            {{ widget_list('request_for_quote.add.fields') }}
        </div>
        {{ widget_list('request_for_quote.add.buttons') }}
    {% endform %}
</div>