{##
 # Customer email
 #
 # @ListChild (list="request_for_quote.add.fields", weight="200")
 #}
<div class="form-item clearfix">
    {{ widget('\\XLite\\View\\FormField\\Input\\Text', required='true', placeholder=t('Your email'), fieldName='customerEmail', label=t('Your email'), value=this.request_for_quote.customerEmail) }}
</div>
